{% extends 'base.html' %}

{% block content %}
<h1>Lista de Usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id %}">Editar</a> |
                    <a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crear_usuario' %}">Crear nuevo usuario</a>
{% endblock %}
